# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Logs
logs
*.log
*.log.*
*.out
*.out.*
*.err
*.err.*

# Environment files
.env
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# React Native
android/.gradle
android/app/build/
android/.idea
android/local.properties
android/captures
ios/Pods/
ios/build/
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.lock

# React Native cache
.expo/
.expo-shared/
dist/
build/
.cache/

# Metro bundler / Expo
.expo-dev-cache/
.packager/
.haste/
